<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Информация о товаре</title>
</head>
<body>
    <header>
        <a href="/../">Домой / </a>
        <a href="/../items">Cписок товаров /</a>
        <a href="/../about">About</a>
    </header>
     {% if item.count == 0 %}
            <h1>Товар {{item.name}} отсутствует</h1>  
        {%else%}  
    
           <h1>Товар: {{item.name}}</h1>
           <p>Бренд {{item.brand}}</p>
           <p>Количество {{item.count}}</p>
       
        {% endif %}  
    

    </body>
</html>