<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Информация о товаре</title>
</head>
<body>
    {%for item in goods%}
       {% if item.quantity == 0 %}
            <h1>Товар {{item.name}} отсутствует</h1>  
        {%elif item.id == id%}  
    
           <h1>Товар: {{item.name}}</h1>
           <p>Количество {{item.quantity}}</p>
       
        {% endif %}  
        {%endfor%}
        <a href="/../">Домой </a><br>
        <a href="/../items">К списку товаров</a>
</body>
</html>